<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title th:text="'Roster'">Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body class="container">
    <table class="table table-bordered table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Job Title</th>
            <th scope="col">Organization</th>
            <th scope="col">Supervisor</th>
            <th scope="col">Direct Reports</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employees}">
                <th th:text="${employee.id}" scope="row"></th>
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.jobTitle}"></td>
                <td th:text="${employee.organization}"></td>
                <td th:text="${employee.supervisorName}"></td>
                <td>
                    <div th:each="subordinate : ${employee.directReports}">
                        <p th:text="${subordinate.value.name}"></p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
